:root {
    --admin-color-accent: rgb(48, 63, 123);
    --admin-color-accent-transparent: rgba(48, 63, 123, .4);
    --admin-color-accent-light: rgb(164, 164, 164);
    --admin-color-paper: rgb(253, 253, 255);
    --admin-color-paper-see-through: rgba(253, 253, 255, .9);
    --admin-color-key: rgb(44, 44, 52);
    --admin-color-accent-neutral: rgba(0, 0, 0, .09);
    --admin-color-accent-fierce: rgb(255, 166, 0);
    --admin-color-no: rgb(200, 0, 0);
    --admin-color-no-bg: rgba(200, 0, 0, .25);
    --admin-color-ok: rgb(0, 180, 60);
    --admin-color-ok-bg: rgba(0, 180, 60, .25);
    --admin-sidebar-width: 333px;
    --admin-console-height: 222px;
}

.dark-mode {
    --admin-color-accent: rgb(108, 149, 252);
    --admin-color-accent-transparent: rgba(108, 149, 252, .4);
    --admin-color-accent-light: rgb(76, 76, 76);
    --admin-color-paper: rgb(44, 44, 52);
    --admin-color-paper-see-through: rgba(44, 44, 52, .9);
    --admin-color-key: rgb(224, 224, 224);
    --admin-color-accent-neutral: rgba(0, 0, 0, .27);
    --admin-color-no: rgb(180, 0, 0);
    --admin-color-no-bg: rgba(180, 0, 0, .42);
    --admin-color-ok: rgb(0, 145, 45);
    --admin-color-ok-bg: rgba(0, 145, 45, .25);
}

/* neutralize header and footer */
.PEATCMS_admin header, .PEATCMS_admin footer {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

.bloembraaden-icon {
    max-height: 1.4em;
    max-width: 1.4em;
    width: 1.4em;
    margin-bottom: -.3em;
}

.bloembraaden-icon svg {
    width: 100%;
    height: 100%;
}

.bloembraaden-icon .st0 {
    opacity: 0.81;
    fill: var(--admin-color-accent);
}

/*
 * dark mode admin page adjustments / corrections
 */
#PEATCMS_admin_page {
    background-color: inherit;
    height: auto;
}

#PEATCMS_admin_page pre,
#PEATCMS_admin_page td {
    color: var(--admin-color-key);
}

#PEATCMS_admin_page [type="file"] {
    color: var(--admin-color-key);
}

/*
 * admin page specific styles
 */
#PEATCMS_admin_page :focus {
    outline: 0;
}

#PEATCMS_admin_page img {
    display: block;
    line-height: 0;
    border: 0;
}

#PEATCMS_admin_page em {
    font-style: italic;
}

#PEATCMS_admin_page strong {
    font-weight: 700;
}

#PEATCMS_admin_page {
    background-color: var(--admin-color-paper);
    background-image: none;
    min-height: 100vh;
    padding: 1rem;
    width: auto;
}

#PEATCMS_admin_page .toggle {
    height: 2rem;
    overflow: hidden; /* open / close handled by button.toggle */
    transition: height .4s;
}

#PEATCMS_admin_page .toggle.open {
    height: auto;
    margin-bottom: .5rem;
}

#PEATCMS_admin_page .toggle header {
    height: 2rem;
}

#PEATCMS_admin_page .toggle header * {
    text-decoration: none;
    font-weight: normal;
    margin-right: .2rem;
}

#PEATCMS_admin_page .toggle .toggle_button:after {
    content: '\25B6';
    font-weight: bold;
    display: inline-block;
}

#PEATCMS_admin_page .toggle.open > header > .toggle_button:after {
    transform: rotateZ(90deg);
}

#PEATCMS_admin_page .toggle .toggle {
    margin-left: 1.6em; /* indent for a bit */
}

.PEATCMS_admin .info,
#PEATCMS_admin_page .info {
    opacity: .8;
}

/**
 * reset some stuff that might be changed by a client css
 */
#admin_wrapper *,
#admin_console *,
#quickie-modal *,
#admin_sidebar .edit-area * {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
    font-style: normal;
}

.PEATCMS_admin, .PEATCMS_admin * {
    opacity: 1;
}

.dark-mode .edit-area *,
.edit-area * {
    color: var(--admin-color-key);
}

#PEATCMS_admin_page section {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: var(--admin-color-paper);
    overflow-x: auto;
}

/**
 * hide lingering (non-admin) elements
 */
#PEATCMS_admin_page > *:not(#message_wrapper):not(.PEATCMS_admin) {
    display: none;
}

/**
 * generic
 */
[data-done="true"] {
    color: var(--admin-color-ok) !important;
}

[data-done="false"] {
    color: var(--admin-color-no) !important;
}

[data-has-modal] {
    overflow: hidden;
}

.PEATCMS_admin [data-disabled="1"] {
    display: none !important;
}

#PEATCMS_admin_page #PEATCMS_edit_menu {
    display: none;
}

#PEATCMS_admin_page .page_content label {
    display: inline-block;
    width: 160px;
}

#PEATCMS_admin_page .PEATCMS_admin input[type="checkbox"] + label {
    max-width: inherit;
    width: auto;
}

#PEATCMS_admin_page :not(.edit-area) > input[type=password],
#PEATCMS_admin_page :not(.edit-area) > input[type=email],
#PEATCMS_admin_page :not(.edit-area) > input[type=text]:not(.searchable) {
    background-color: inherit;
    font-size: inherit;
    min-width: 160px;
    width: 50vw;
    border: 0;
    border-bottom: solid 1px var(--admin-color-key);
}

/**
 * publish button and functionality
 */
#quickie-modal [type="submit"],
#peatcms_publish {
    margin: .25rem .5rem;
    padding: .25rem;
    background-color: var(--admin-color-accent);
    border-radius: .25rem;
    position: absolute;
    top: 2.08rem;
    right: 0;
}

#quickie-modal [type="submit"] {
    position: relative;
    top: 0;
    margin: 2rem 0;
}

#quickie-modal [type="submit"]:after,
#peatcms_publish:after {
    content: 'Publish';
    font-weight: bold;
    color: var(--admin-color-paper);
}

#quickie-modal [type="submit"][disabled],
#peatcms_publish.published {
    background-color: var(--admin-color-accent-neutral);
}

.template.published:after,
#peatcms_publish.published:before {
    content: '\2713';
    color: var(--admin-color-ok);
    font-weight: bold;
    margin-left: .2em;
}

#quickie-modal [type="submit"].published:after,
#peatcms_publish.published:after {
    content: 'Published';
    font-weight: normal;
    color: var(--admin-color-accent-light);
}

.template {
    display: table-row;
}

.template > *:first-child {
    text-transform: capitalize;
}

.template > * {
    padding-right: .5rem;
    color: var(--admin-color-key);
    display: table-cell;
}

/**
 * Template editor is a special case :-)
 */
#PEATCMS_admin_page.template {
    overflow: hidden;
}

#PEATCMS_admin_page.template,
#PEATCMS_admin_page.template > * {
    margin: 0;
    padding: 0;
}

#PEATCMS_admin_page.template header.bar {
    height: 4rem;
    padding: .25rem 1rem;
}

#PEATCMS_admin_page.template header.bar > * {
    display: inline-block !important;
}

#PEATCMS_admin_page.template textarea {
    font-family: Consolas, "Courier New", Courier, sans-serif;
    display: block;
    width: calc(100vw - 17px);
    height: calc(100vh - 4.5rem - 17px);
    overflow: scroll;
    border-bottom: 0;
}

/**
 * PEATCMS_admin styles...
 */
.PEATCMS_admin img {
    display: block;
    line-height: 0;
    border: 0;
}

.PEATCMS_admin em {
    font-style: italic;
}

.PEATCMS_admin header,
.PEATCMS_admin strong {
    font-weight: bold;
}


/**
 * Menu editor
 */

/* menu_item */
#PEATCMS_admin_menu_editor,
#PEATCMS_admin_menu_finder {
    float: left;
    width: 45vw;
    padding: 30px 0 0 .5em;
}

#PEATCMS_admin_menu_finder input.searchable {
    position: absolute;
    margin-top: -30px;
    max-width: 45vw;
}

/*#PEATCMS_admin_menu_editor .toggle,
.PEATCMS_admin.menu_editor ul li*/
#PEATCMS_admin_menu_finder ul li,
#PEATCMS_admin_menu_editor ul li {
    background-color: var(--admin-color-paper);
    color: var(--admin-color-key);
    box-shadow: 0 2px 4px var(--admin-color-accent-neutral);
    padding: 0 6px;
    margin: 0 0 3px 0;
    border: 1px solid var(--admin-color-accent-neutral);
    list-style-type: none;
    border-top: 2px solid transparent;
}

#PEATCMS_admin_page.menu_editor ul li div.drop_area {
    height: 10px;
    background-color: var(--admin-color-accent-neutral);
    margin-left: 3%;
    width: 97%;
}

/* items that already have children don't need the child-drop_area! */
#PEATCMS_admin_page.menu_editor ul li ul + div.drop_area {
    display: none;
}

#PEATCMS_admin_page.menu_editor ul li button {
    float: right;
}

/* toggle area that allows to add the first menu item or delete / remove them */
#PEATCMS_admin_menu_editor .toggle {
    max-height: 40px;
    margin-top: 1em;
    background-color: var(--admin-color-paper);
}

#PEATCMS_admin_menu_editor .toggle.dragover {
    border-color: var(--admin-color-accent);
}

/**
 * Console
 */
.offline {
    border-left: solid .2em var(--admin-color-accent-neutral);
}

.PEATCMS_admin .offline {
    display: inherit;
}


.PEATCMS_admin .online {
    border-left: solid .2em var(--admin-color-accent);
}

/*.PEATCMS_admin .button.edit,
.PEATCMS_admin button.edit {
    margin: 0 .2em;
}

.PEATCMS_admin .button.edit:hover,
.PEATCMS_admin button.edit:hover {
    color: var(--admin-color-accent);
}*/
.edit + .edit {
    margin-left: .3rem;
}

.peatcms-link,
.PEATCMS_admin a,
.PEATCMS_admin a:not(.button):active,
.PEATCMS_admin a:not(.button):hover,
.PEATCMS_admin a:not(.button):visited,
.PEATCMS_admin .link {
    padding: 0;
    margin: 0;
    color: var(--admin-color-accent);
    text-decoration: underline;
    cursor: pointer;
}

/* panel close buttons */
label.close:hover {
    color: var(--admin-color-accent);
}

/**
 * Pretty checkboxes
 */
.PEATCMS_admin input[type="checkbox"] {
    padding: 0;
    width: .5rem;
    height: .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.PEATCMS_admin input[type="checkbox"]:checked {
    background-color: rgb(48, 63, 123);
}

.PEATCMS_admin input[type="checkbox"] {
    display: none;
}

.PEATCMS_admin input[type="checkbox"] + label {
    line-height: .8em;
}

.PEATCMS_admin input[type="checkbox"] + label:before {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: inherit;
    vertical-align: middle;
    margin-right: .2em;
    padding: 0;
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='12' width='12'%3E%3Ccircle fill='%23fff' cx='6' cy='6' r='5' /%3E%3C/svg%3E ");
    width: 20px;
    height: 12px;
    line-height: 12px;
    border-radius: 6px;
    background-color: var(--admin-color-accent-neutral);
    color: var(--admin-color-paper);
    text-align: left;
    transition: background-color .4s;
    box-shadow: 0 .1em 1em var(--admin-color-accent-neutral) inset;
}

.PEATCMS_admin input[type="checkbox"]:checked + label:before {
    background-color: var(--admin-color-accent);
    text-align: right;
}

.PEATCMS_admin input[type="checkbox"].peatcms_danger:checked + label:before {
    background-color: var(--admin-color-no);
}

body .PEATCMS_admin .unsaved > .PEATCMS_admin input[type="checkbox"] + label:before {
    color: var(--admin-color-accent);
}

/* loading and unsaved states */
body .PEATCMS_admin .unsaved.checkbox label,
body .PEATCMS_admin .unsaved:not(.checkbox) {
    outline: dashed 2px var(--admin-color-accent-fierce) !important;
}

.PEATCMS_admin input[type="checkbox"].peatcms_loading + label:before,
body .PEATCMS_admin .peatcms_loading {
    animation: peatcms_pulsating 613ms infinite ease-in-out;
}

/* for admin placeholder must signal layout may shift soon */
body .PEATCMS_admin [data-peatcms-placeholder] {
    background-position: left 0 top 0, 0 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--admin-color-accent-fierce); /* todo: loading animation */
}

body .PEATCMS_admin [data-peatcms-placeholder].peatcms_loading {
    display: block !important;
}

/**/

.PEATCMS_admin .pretty_parent {
    width: calc(100% - .5em);
    padding: .25em;
    border: transparent;
    color: var(--admin-color-key);
    font-weight: bold;
}

.PEATCMS_admin .suggestions div {
    padding: 0 .25em;
    cursor: pointer;
}

.PEATCMS_admin .create-new { /* inside suggestions */
    opacity: .56;
}

.PEATCMS_admin .create-new:hover { /* inside suggestions */
    opacity: 1;
}

.PEATCMS_admin .button { /* inside suggestions */
    /*margin: 0 2px;*/
}

.PEATCMS_data_stasher {
    position: absolute;
    /*    border: solid 3px var(--admin-color-accent);
        color: var(--admin-color-accent);
        border-radius: 10px;
        height: 0;
        width: 10px;
        margin-left: -10px;*/
}

.PEATCMS_admin ul li.dragover,
.PEATCMS_admin .order.dragover {
    border-top: solid 2px var(--admin-color-accent);
}

/*.admin.menu_editor ul li span.drag_handle,
.PEATCMS_admin */
.drag_handle {
    cursor: grab;
    font-weight: bold;
    color: var(--admin-color-accent);
}

/*.admin.menu_editor ul li span.drag_handle:active,
.PEATCMS_admin */
.drag_handle:active {
    cursor: grabbing;
}

.PEATCMS_admin h3.divider {
    display: block;
    color: var(--admin-color-key);
    font-size: 125%;
    padding-top: .5em;
    padding-bottom: .2em;
    text-transform: capitalize;
}

.PEATCMS_admin h3.divider button {
    margin-left: 5px;
}

.PEATCMS_admin .linkable > div:last-child {
    margin-bottom: 2rem;
}

.PEATCMS_admin .linkable button::after {
    content: '\26AC\26AC';
}

.PEATCMS_admin .linkable button.linked::after,
.PEATCMS_admin .linkable .linked button::after {
    content: '\26AD';
}

.process_area {
    min-height: 2.5rem;
}

/*.PEATCMS_admin .process_area .button {
    cursor: pointer;
    width: auto;
    height: 1.8rem;
    background-image: none;
    padding: .09rem .21rem;
    background-color: #f3f3f6;
    box-shadow: none;
    border: none;
}
.PEATCMS_admin .process_area .button option {

}
*/
.drop_area {
    width: 90%;
    height: 200px;
    border: dotted 3px var(--admin-color-accent-light);
    overflow: hidden; /* for the progress indicator */
}

.drop_area.dragover {
    border-color: var(--admin-color-accent);
}

.drop_area .progress {
    width: 100%;
    height: 100%;
    margin-top: 100%;
    background-color: var(--admin-color-accent-transparent);
    color: var(--admin-color-paper);
    font-size: 10px;
}

body .PEATCMS.progress {
    position: fixed;
    width: 5px;
    height: 100vh;
    margin-top: 100vh;
    background-color: var(--admin-color-accent);
    left: 0;
    top: 0;
    z-index: 101; /* just in front of console */
}

/**
 * PEATCMS_admin please use normal font
 */
body .PEATCMS_admin,
body .PEATCMS_admin * {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    /*padding: 0;
    margin: 0;*/
}

/**
 * Neutralize some specific colors
 */
body #admin_console_button *,
body .PEATCMS_admin .linkable a:not(.button),
body .PEATCMS_admin label,
body .PEATCMS_admin h1,
body .PEATCMS_admin h2,
body .PEATCMS_admin h3,
body .PEATCMS_admin h4,
body .PEATCMS_admin h5,
body .PEATCMS_admin h6,
body .PEATCMS_admin em,
body .PEATCMS_admin strong,
body .PEATCMS_admin header,
body .PEATCMS_admin section,
body .PEATCMS_admin div,
body .PEATCMS_admin span,
body .PEATCMS_admin p {
    color: var(--admin-color-key);
    font-style: normal;
}

body .PEATCMS_admin h1,
body .PEATCMS_admin h2,
body .PEATCMS_admin h3,
body .PEATCMS_admin h4,
body .PEATCMS_admin h5,
body .PEATCMS_admin h6,
body .PEATCMS_admin strong {
    font-weight: bold;
}

body .PEATCMS_admin a:hover,
body .PEATCMS_admin a:focus,
body .PEATCMS_admin .peatcms-link:hover,
body .PEATCMS_admin .peatcms-link:focus {
    color: inherit;
    background-color: inherit;
    text-decoration: underline;
}

/* admin items that are only visible when hovering */
.PEATCMS_admin .onhover {
    display: none;
}

.PEATCMS_admin:hover .onhover {
    display: inline-block;
}

.PEATCMS_admin:hover #quickies {
    display: block;
}

/**
 * The one admin button
 */
#admin_console_button {
    position: fixed;
    bottom: .5em;
    left: .5em;
    background-color: var(--admin-color-paper-see-through);
    color: var(--admin-color-key);
    padding: .25em;
    border-radius: 1.2em;
    border: solid 3px var(--admin-color-accent);
    z-index: 100;
    line-height: 0;
    text-align: left;
    vertical-align: text-top;
}

#quickies {
    text-align: left;
    margin: 0;
}

#quickies li {
    letter-spacing: .05em;
    margin: .1em .2em .33em .2em;
    cursor: pointer;
    list-style-type: none;
}

.PEATCMS_admin .hoverstate {
    background: transparent;
    box-shadow: none;
    cursor: pointer;
}

.PEATCMS_admin input[type=submit],
.PEATCMS_admin input[type=button],
.PEATCMS_admin .button,
.PEATCMS_admin button,
.PEATCMS_admin input[type="checkbox"] + label, /* pretty checkboxes */
.PEATCMS_admin ::file-selector-button {
    /* reset a button */
    width: auto;
    height: auto;
    background-color: inherit;
    border-radius: 0;
    border: 0;
    color: var(--admin-color-accent);
    font-weight: normal;
    cursor: pointer;
    padding: .1rem .21rem;
    box-shadow: none;
    text-decoration: none;
}

.PEATCMS_admin .hoverstate:hover,
.PEATCMS_admin input[type=submit]:hover,
.PEATCMS_admin input[type=button]:hover,
.PEATCMS_admin .button:hover,
.PEATCMS_admin button:hover,
.PEATCMS_admin input[type="checkbox"] + label:hover, /* pretty checkboxes */
.PEATCMS_admin ::file-selector-button:hover {
    color: var(--admin-color-accent-fierce);
    background-color: inherit; /* no change please */
}

#admin_console_button .hoverstate {
    outline-offset: 1px;
}

#admin_console_button label {
    cursor: pointer;
}

.peatcms_ctrl_key_tip {
    position: absolute;
    display: block;
    padding: 0 2px;
    background-color: var(--admin-color-accent-fierce);
    height: 1.5rem;
    line-height: 1.5rem;
    white-space: nowrap;
    z-index: 101;
}

#PEATCMS_edit_menu {
    cursor: pointer;
    position: fixed; /* because boundingRect = relative to view */
    background-color: var(--admin-color-paper-see-through);
    border: solid 3px var(--admin-color-accent);
    padding: 0 .25em;
    border-radius: 2em;
    margin: -1px 4px;
    color: var(--admin-color-accent);
}

/**
 * the various screens / consoles that can be activated by admin
 */
.PEATCMS_admin .console_screen {
    background-color: var(--admin-color-paper);
    position: fixed;
    bottom: 0;
    left: 0;
}

.PEATCMS_admin .console_screen .cell {
    display: table-cell;
    padding: .2em .5em;
    background-color: var(--admin-color-paper); /* to prevent overflow:hidden to be shown in the next .harmonica cell */
}

.PEATCMS_admin .console_screen .cell header {
    white-space: nowrap;
    background-color: inherit;
    width: inherit;
    border: 0 !important;
    height: auto; /* for when a client css has the header height defined */
}

.PEATCMS_admin .console_screen .cell:first-child {
    width: 162px;
}

.PEATCMS_admin .console_screen .cell:not(:first-child) {
    border-left: solid 1px var(--admin-color-accent-neutral);
}

.PEATCMS_admin .console_screen .cell.harmonica {
    transition: border-color .5s;
    width: 20px;
    max-width: 20px;
}

.PEATCMS_admin .console_screen .cell.harmonica.active {
    width: 260px;
    max-width: 260px;
    border-left-color: var(--admin-color-accent);
}

.PEATCMS_admin .console_screen .cell.active header *,
.PEATCMS_admin .console_screen .cell.active header {
    color: var(--admin-color-accent);
    height: auto;
}

.PEATCMS_admin .console_screen .cell .results {
    height: calc(var(--admin-console-height) - 70px);
    max-height: calc(var(--admin-console-height) - 75px);
    overflow-x: hidden;
    overflow-y: auto;
}

.PEATCMS_admin .console_screen .cell .results div {
    font-size: 85%;
    cursor: pointer;
    white-space: nowrap;
}

.PEATCMS_admin .console_screen .cell:not(.active) * {
    overflow: hidden !important;
}

.PEATCMS_admin .console_screen .cell:not(.active) header {
    cursor: pointer;
}

.PEATCMS_admin .console_screen button {
    margin-bottom: 0;
}

.PEATCMS_admin .console_screen .cell.messages div {
    font-size: 85%;
}

/* stuff that should not be displayed (eg the checkboxes) */
.PEATCMS_admin .nodisplay {
    display: none;
}

/**
 * default states (before opening, with the corresponding checkboxes unchecked
 */
#admin_console {
    height: 0;
    bottom: -3px; /* size of the border-top */
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

#admin_console_positioner {
    height: 4px;
    overflow: hidden;
    width: 100%;
    background-color: var(--admin-color-accent);
    cursor: row-resize;
}

#admin_sidebar {
    position: fixed;
    width: 0;
    left: -4px;
    height: 100%;
    /*border-right: inset 3px var(--admin-color-accent);*/
    z-index: 100;
    float: left;
    display: inline-block;
    overflow: hidden;
}

#admin_sidebar_positioner {
    float: right;
    width: 4px;
    height: 100vh;
    background-color: var(--admin-color-accent);
    cursor: col-resize;
}

#admin_sidebar .edit-area {
    position: absolute;
    top: 0;
    height: calc(100vh - 4em);
    margin-right: 4px; /* the width of the positioner */
    padding: 2em 8px;
    overflow-y: auto;
    max-width: calc(100% - 20px);
}

.edit-area .button.delete,
.edit-area button.delete {
    margin: 2rem 0;
}

.edit-area span[id] { /* the edit checkboxes */
    display: block;
    margin-bottom: 6px;
}

.edit-area .button.delete,
.edit-area button.delete,
.PEATCMS_admin input[type="button"].delete {
    color: var(--admin-color-no);
    font-weight: bold;
    cursor: pointer;
}

.edit-area button.delete ~ span.button {
    display: block;
    cursor: pointer;
    margin: 0 0 4rem 0;
}

.edit-area #admin_date_popvote {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20px;
}

.edit-area #admin_date_popvote .inner {
    background: var(--admin-color-paper);
    border-radius: 20px;
    margin: 5px;
}

.edit-area #admin_date_popvote input,
.edit-area #admin_date_popvote button {
    color: var(--admin-color-key);
}

.edit-area #admin_date_popvote input {
    display: inline-block;
    width: 4em;
    border-bottom: none;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: none;
}

/* open / close box for .x_value in properties */
.PEATCMS_admin .edit-area input[type="checkbox"].flexible.visible {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: right;
    display: block;
    width: 0;
    height: 0;
    border-left: solid .32rem transparent;
    border-right: solid .32rem transparent;
    border-top: solid .43rem var(--admin-color-accent);
    background-color: transparent;
    cursor: pointer;
}

.PEATCMS_admin .edit-area input[type="text"].flexible {
    display: none;
}

.PEATCMS_admin .edit-area input[type="checkbox"].flexible:checked + input[type="text"].flexible {
    display: block;
}

.PEATCMS_admin .edit-area input[type="checkbox"].flexible:checked {
    transform: rotate(180deg);
}

.PEATCMS_admin .edit-area [data-quantity="null"] .subtract,
.PEATCMS_admin .edit-area [data-quantity="null"] .remove {
    display: none;
}

/* quickie is also a screen */
#quickie-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--admin-color-paper);
    z-index: 100; /* same level as Bloembraaden admin flower button */
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#quickie-modal form {
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    max-width: 440px;
}

#quickie-modal .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: contain; /* overridden / managed in admin.js quickie->showImage */
    background-position: center center;
    background-repeat: no-repeat;
}

#quickie-modal h3 {
    padding-top: 0;
    margin-top: 0;
}

#quickie-modal label {
    display: block;
    font-size: 55%;
    opacity: .8;
}

#quickie-modal textarea {
    height: 300px;
    max-height: 55vh;
}

#quickie-modal .close {
    position: fixed;
    right: 1rem;
    top: 0;
    font-size: 33px;
}

/* main admin styles */
.edit-area #admin_date_popvote button {
    background-color: transparent;
    box-shadow: none;
}

#edit_area_header,
#admin_sidebar label.close { /* the close button */
    position: absolute;
    top: 0;
    z-index: 101;
    width: auto;
    height: auto;
}

#edit_area_header {
    padding: .1rem .21rem;
    left: 15px; /* room for close button */
    background-color: var(--admin-color-paper);
    color: var(--admin-color-accent-light);
}

#admin_sidebar button.edit {
    float: left;
    font-size: 1.25em;
}

.PEATCMS_admin input[type=text],
.PEATCMS_admin input[type=email],
.PEATCMS_admin input[type=number],
.PEATCMS_admin input[type=password],
.PEATCMS_admin .edit-area select,
.PEATCMS_admin textarea {
    border: none;
    outline: none;
    border-bottom: solid 1px var(--admin-color-accent);
    color: var(--admin-color-key);
    box-shadow: 0 2px 4px 0 inset var(--admin-color-accent-neutral);
    background-color: transparent;
    padding: .25em;
    margin-bottom: .25em;
    width: calc(100% - .5em);
    max-width: calc(100% - .5em);
    border-radius: 0;
    text-align: left;
}

/* why we need the #PEATCMS_admin_page on top of .PEATCMS_admin is me a riddle ;-) */
#PEATCMS_admin_page input:focus-visible,
#PEATCMS_admin_page textarea:focus-visible,
#PEATCMS_admin_page textarea:active,
#PEATCMS_admin_page select:focus-visible,
#PEATCMS_admin_page .button:focus-visible,
#PEATCMS_admin_page button:focus-visible,
#PEATCMS_admin_page label:focus-visible,
#PEATCMS_admin_page a:focus-visible,
.PEATCMS_admin input.pretty_parent:focus-visible,
.PEATCMS_admin input[type=text]:focus-visible,
.PEATCMS_admin input[type=email]:focus-visible,
.PEATCMS_admin input[type=number]:focus-visible,
.PEATCMS_admin input[type=password]:focus-visible,
.PEATCMS_admin input[type=file]:focus-visible,
.PEATCMS_admin textarea:focus-visible,
.PEATCMS_admin textarea:active,
.PEATCMS_admin select:focus-visible,
.PEATCMS_admin .button:focus-visible,
.PEATCMS_admin .edit-area input[type="checkbox"].flexible.visible:focus-visible,
.PEATCMS_admin button:focus-visible,
.PEATCMS_admin label:focus-visible,
.PEATCMS_admin a:focus-visible {
    outline: solid 2px var(--admin-color-accent-fierce);
    outline-offset: -2px;
    animation: none;
    background-color: transparent;
}

#PEATCMS_admin_page button:focus-visible,
#PEATCMS_admin_page label:focus-visible,
.PEATCMS_admin .button:focus-visible,
.PEATCMS_admin button:focus-visible,
.PEATCMS_admin label:focus-visible {
    width: auto;
    height: auto;
}

.PEATCMS_admin a:focus-visible {
    outline-offset: 0;
}

/* open / close box for .x_value in properties */
.PEATCMS_admin .edit-area input[type="checkbox"].flexible.visible:focus-visible {
    outline-offset: 1px;
}

.hoverstate label:focus-visible,
#PEATCMS_admin_page label:focus-visible,
.PEATCMS_admin label:focus-visible {
    outline-offset: 2px;
}

.PEATCMS_admin textarea {
    min-width: calc(100% - .5em);
    border-radius: 0;
}

.PEATCMS_admin #admin_content,
.PEATCMS_admin #admin_description {
    aspect-ratio: 3 / 2;
}

#admin_sidebar .edit-area textarea + .word_counter,
#admin_sidebar .edit-area input + .word_counter {
    position: absolute;
    display: none;
    font-size: 12px;
    margin-top: -11px;
    padding: 1px 4px 2px 2px;
    border-bottom-right-radius: 8px;
    background-color: var(--admin-color-accent-fierce);
}
#admin_sidebar .edit-area input + .word_counter {
    margin-top: -5px; /* .25em padding apparently works differently here */
}

#admin_sidebar .edit-area textarea:focus + .word_counter,
#admin_sidebar .edit-area input:focus + .word_counter {
    display: block;
}

.PEATCMS_admin textarea.as-input {
    display: inline;
    vertical-align: bottom;
    margin: 0 2px;
    height: 1.21em;
    width: 147px;
    min-width: 0;
}

.PEATCMS_admin select {
    background-color: var(--admin-color-paper);
    color: var(--admin-color-key);
}

#PEATCMS_admin_page input[type=text].PEATCMS_editable.small {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
}

#PEATCMS_admin_page input[type=text].PEATCMS_editable.medium {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}

.PEATCMS_admin .text-security,
#PEATCMS_admin_page .text-security {
    -webkit-text-security: disc;
}

/*.admin input[type=text].searchable,
#admin_console input[type=text].searchable,
#admin_sidebar input[type=text]*/
.PEATCMS_admin select.order-paging,
.PEATCMS_admin input[type=text].searchable {
    background-color: var(--admin-color-accent-neutral);
    border-bottom: 0;
}

.PEATCMS_admin .uneditable {
    width: 100%;
    border: none;
    background: transparent;
}

body .PEATCMS_admin span.template_status {
    color: var(--admin-color-accent);
    text-transform: uppercase;
}

/* quick edit tables */
#PEATCMS_admin_page.search_settings .alternatives {
    display: block;
}

#PEATCMS_admin_page.search_settings .alternatives input[type="text"] {
    display: inline-block;
    width: 160px;
}


/**
 * The opening and closing of admin menu's console, sidebar, new, etc. from the button
 * Default settings that are overridden by admin.js (panels)
 */
#admin_console_checkbox:checked ~ #admin_console {
    height: var(--admin-console-height);
    max-height: calc(100vh - 5px);
    min-height: 50px;
}

#admin_sidebar_checkbox:checked ~ #admin_sidebar {
    left: 0;
    width: var(--admin-sidebar-width);
    max-width: calc(100vw - 5px);
    min-width: 105px;
}

#admin_sidebar_checkbox:checked ~ #admin_console_button,
#admin_console_checkbox:checked ~ #admin_console_button {
    display: none;
}

#PEATCMS_admin_page .spacer {
    clear: both;
    margin-top: 3em;
    height: 4.5em;
}

#PEATCMS_admin_page .footer a,
#PEATCMS_admin_page .footer {
    font-size: .8rem;
    text-align: center;
    color: var(--admin-color-accent);
}

/**
 * Order template specials
 */
#PEATCMS_admin_page input[type="text"].admin_order_search {
    max-width: 180px;
}

#PEATCMS_admin_page .cancel-status[data-cancelled] {
    background-color: var(--admin-color-no-bg);
    padding: 4px 8px;
    border-radius: 3px;
    color: var(--admin-color-paper);
}

#PEATCMS_admin_page .cancel-status > button {
    color: var(--admin-color-no);
}

.admin_order_search.right {
    position: absolute;
    right: 17px;
    top: 8px;
    /*float: right;*/
}

.PEATCMS_admin .order-paging {
    position: absolute; /* to prevent CLS */
    left: 110px;
    top: 8px; /* same as order search */
}

.payment-table,
.order-table {
    display: table;
    width: 100%;
}

.payment-table .row,
.order-table .row {
    display: table-row;
}

body .PEATCMS_admin .order-table a:hover {
    background-color: transparent;
}

.payment-table .header,
.order-table .header {
    display: table-row;
    background-color: var(--admin-color-accent-transparent);
}

.payment-table .header > *,
.order-table .header > * {
    display: table-cell;
    font-weight: bold;
}

.payment-table .row > a:not(.button),
.order-table .row > a:not(.button),
.payment-table .row > *,
.order-table .row > * {
    display: table-cell;
    padding: .1em .25em;
}

.order-table .row > .amount {
    text-align: right;
}

.order-table .row:not([data-emailed]) {
    background-color: var(--admin-color-accent-neutral);
}

.order-table .row[data-paid] {
    background-color: var(--admin-color-ok-bg);
}

.order-table .row[data-myparcel_exported] .myparcel:after {

}

.order-table .row[data-cancelled] {
    background-color: var(--admin-color-no-bg);
}

.order-table .row .myparcel {
    width: 8px;
    color: var(--admin-color-no);
}

.order-table .row[data-myparcel_exported_success] .myparcel {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 203.6 203.6'%3E%3C!-- Icon --%3E%3Cpath fill='%230f5c47' d='M16.6,148c-5.7,0-11.2-2.9-14.2-8.2c-4.6-7.9-1.9-17.9,6-22.5L111,57.7c7.9-4.6,17.9-1.9,22.5,6 s1.9,17.9-6,22.5L24.9,145.8C22.3,147.3,19.5,148,16.6,148z M68.1,177.6c-5.7,0-11.2-2.9-14.2-8.2c-4.6-7.9-1.9-17.9,6-22.5 l51.3-29.8c7.9-4.6,17.9-1.9,22.5,6s1.9,17.9-6,22.5l-51.3,29.8C73.8,176.8,70.9,177.6,68.1,177.6z M16.5,88.7 c-5.7,0-11.2-2.9-14.2-8.2c-4.6-7.9-1.9-17.9,6-22.5l51.2-29.8c7.9-4.6,17.9-1.9,22.5,6s1.9,17.9-6,22.5L24.7,86.5 C22.1,88,19.3,88.7,16.5,88.7z'%3E%3C/path%3E%3C/svg%3E");
}

.order[data-rating] .rating {
    display: inline-block;
    margin-left: .3em;
}

.order[data-rating=''] .rating {
    display: none;
}

.order-table .header svg {
    fill: #0f5c47;
    width: 22px;
    margin-left: 4px;
    vertical-align: middle;
}

.payment-table .row:not([data-processed]) {
    background-color: var(--admin-color-no-bg);
}

textarea.code {
    border: none;
    background-color: transparent;
    height: 1.5em;
}

header.payment {
    font-weight: normal;
}

.payment-table .row.raw {
    display: none;
}
